{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./components",
          "@page-content": "./page-content",
          "@assets": "./assets",
          "@public": "./public"
        }
      }
    ],
    ["styled-components", { "ssr": true }]
  ]
}
